/** {box-sizing: border-box}*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

/*@media (hover:hover) {
    /* Primary Input responds to hover fully, such as a mouse or a Nintendo Wii controller */
	.huruf:hover{background-color: cornflowerblue;}
	.harf:hover{background-color: coral;}
/*}*/
.harf {
	float: left;
	margin: 10px;
	padding: 10px;
	max-width: 287px;
	height: 30px;
	border: 1px solid black;
	border-radius: 4%;
}

.huruf {
	float: left;
	margin: 10px;
	padding: 10px;
	max-width: 287px;
	height: 30px;
	border: 1px solid black;
	border-radius: 4%;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

#analiz {
	width: 112%;
	margin: 15px 0px 0px -10px;
}

.seçenekler{display:none}

.hselected{background-color: cornflowerblue}
.selected{background-color: coral}
.not-selected{background-color: rgba(255, 255, 255, 0.57)}

body {background-color: azure;}

#back {position: fixed; z-index: -1; opacity: 0.19; left: 50%; margin-left: -150.68px;}

#primary {font-size: 14pt;}
#text {
	margin-left: 25%;
	font-size: 15pt;
	width: 50%;
}
#sv {padding: 0px 0px 4px 0px;}
#book {padding-top: 19px;}
#text{
	width: 50%;
	margin-left: 25%;
}
textarea {
	resize: none;
	width: 100%;
	background-color: rgba(0, 255, 255, 0.38);
	border-radius: 2px;
	font-size: 14pt;
	direction: rtl;
	background-image: url(../../pic/flower.html);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 0%;
}

textarea:focus {
	background-image: url(../../pic/background.html);
	background-size: cover;
	background-color: #d4fff3;
}


#kopyala {display: none; font-size: 14pt; padding: 4px 6px 4px 6px;}

@media only screen and (min-width: 425px) {
	textarea:focus {height: 247px;}
}

@media only screen and (max-width: 1024px) {
	textarea {background-position: 40%;}
}

@media only screen and (max-width: 768px) {
	th {font-size: 14pt;}
	#primary {font-size: 15pt;}
	#text {font-size: 16pt;}
	#sv {font-size: 16pt;}
	#kopyala {font-size: 14pt; padding: 6px;}
	textarea {font-size: 14pt;	background-position: 30%;}
	
	.ayetbox {	width: 74px;	height: 36px;	border-radius: 3px;	font-size: 19px;
		padding: 5px 5px 5px 5px;	font: 100 1.9rem 'Merriweather', serif;
	}


}

@media only screen and (min-width: 425px) and (max-width: 768px) {
	#text{width: 80%; margin-left: 10%;}
	textarea {font-size: 14pt;}
}

@media only screen and (max-width: 425px) {
	#text{width: 90%; margin-left: 5%;}
	textarea {font-size: 15pt;	background-position: 20%;}
}
	
.ayetbox {	width: 57px;	height: 32px;	box-sizing: border-box;
	border: 1px solid rgba(17, 147, 153, 0.19); border-radius: 4px;	font-size: 17px;
	text-align: center;	letter-spacing: 1.7px;	padding: 0px 4px 0px 4px;
}





#sırano1 {
	margin : 0px 1px 0px 0px;
}

#sırano2 {
	margin : 0px 1px 0px 0px;
}

#baslik {font-size: large; text-align: center; letter-spacing: 1.9px;}

#sonradan {
	display: block;
}

#sadeceno {
	margin: -43px 0px 6px 0px;
	float: right;
}

.checky {
	height: 14.5px;
	width: 14.5px;
}

#sadece_şifreli {
	display: none;
}

.inline {
	-webkit-margin-before: 1em;
	-webkit-margin-after: 0em;
	display: inline;
}
